<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
  <body>
    <h1>Sign Up</h1>
    <form action="/user" method="POST">
      <label for="name">Full Name</label>
      <input type="text" required name="name" />
      <label for="email">Email</label>
      <input type="email" required name="email" />
      <label for="password">Full Name</label>
      <input type="password" required name="password" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
